* {
    background-color: transparent;
    color: white;
    margin: 0;
    user-select: none;
}

html, body {
    background-color: black;
    height: 100%;
    min-height: 700px;
    min-width: 800px;
}
